.wd-dark-theme{
    background-color: black;
    font-family: Calibri, serif;
}
.wd-lightgray-color{
    color: #d3d3d3a6;
}
.wd-border-lightgray{
    border-color: #d3d3d3a6;
}
.wd-highlighted-blue-color{
    color: rgb(29,161,242);
}
.wd-green-color{
    color: green;
}
.wd-red-color{
    color: red;
}
.wd-font-bold{
    font-weight: bold;
}
.wd-primary-blue-color{
    color: #0d6efd;
}