.wd-frame{
    border: 1px solid #a9a9a938;
    color: white !important;
}
.wd-bookmark-panel {
    display: block;
    border: 1px solid #a9a9a938;
    padding: 12px 16px;
    width: inherit;
}
.wd-bookmark-topic{
    font: 20px Calibri, serif;
}
.wd-user-handle{
    font: 13px Calibri, serif;
}
.wd-avatar {
    width: 77px;
    height: 70px;
    padding: 12px 16px;
}
.wd-avatar-img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.wd-flex-container{
    display: flex;
    flex-direction: row;
}
.wd-bookmark-post{
    padding-top: 12px;
}
.wd-post-user-details{
    display: flex;
    flex-direction: row;
    font-size: 15px;
}
.wd-post-user-details div{
    margin-right: 7px;
}
.wd-bookmark-post-card{
    font-size: 15px;
    padding-right: 16px;
    margin: 12px 0px;
    display: flex;
    flex-direction: column;
    width: 506px;
}
.wd-bookmark-post-content{
    font-size: 15px;
    margin-bottom: 12px;
}
.wd-bookmark-post-img{
    display: flex;
    flex-direction: column;
}
.wd-bookmark-post-img img{
    width: 490px;
    height: 264px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.wd-bookmark-img-content{
    border: 1px solid #a9a9a938;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 12px;
}
.wd-bookmark-buttons-panel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
}
.wd-bookmark-button-item{
    display: flex;
}
.wd-bookmark-button-item-icon{
    padding-right: 12px;
}
.wd-post-image {
    width: 60px !important;
    height: 60px !important;
}
a {
    text-decoration: none !important;
    color: white !important;
}
.wd-fa-stack-icon{
    margin-left: -5px !important;
    font-size: 24px !important;
}
.fa-stack{
    display: inline;
    width: 20px !important;
}
.wd-lightgray-color{
    color: #d3d3d3a6 !important;
}
.wd-red-color{
    color: red !important;
}
.wd-text-whats{
    background-color: black;
    width: 100%;
    height: 83px;
    color: white;
}
.wd-delete-btn{
    align-content: flex-end;
}