body{
    font-family: Calibri, serif;
}
a {
    text-decoration: none !important;
    color: black;
}
.wd-main-container{

}
.wd-li-active-override{
    color: white !important;
}
.fa-solid{
    padding-right: 5px;
}
.wd-search-settings{
    font-size: 25px;
}
.wd-avatar-img{
    width: 48px;
    height: 48px;
}
.wd-post-image{
    width: 90px;
    height: 80px;
}
.wd-bottom-align{
    position: absolute;
    bottom:0;
}
.wd-fa-stack-icon{
    margin-left: -5px;
    font-size: 24px;
}
.fa-stack{
    display: inline;
}